services:
  database:
    image: 'postgres:15'
    environment:
      POSTGRES_USER: '${POSTGRES_USER:?err}'
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD:?err}'
      POSTGRES_DB: '${POSTGRES_DB:?err}'
      COOLIFY_BRANCH: '"main"'
      COOLIFY_RESOURCE_UUID: y8ccsogw0oskwo0cwwcc08o8
      COOLIFY_CONTAINER_NAME: database-y8ccsogw0oskwo0cwwcc08o8-184144164171
      SERVICE_NAME_DATABASE: database
      SERVICE_NAME_DOCUMENSO: documenso
    healthcheck:
      test:
        - CMD-SHELL
        - 'pg_isready -U ${POSTGRES_USER}'
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - 'y8ccsogw0oskwo0cwwcc08o8_database:/var/lib/postgresql/data'
    container_name: database-y8ccsogw0oskwo0cwwcc08o8-184144164171
    restart: unless-stopped
    labels:
      - coolify.managed=true
      - coolify.version=4.0.0-beta.444
      - coolify.applicationId=17
      - coolify.type=application
      - coolify.name=database-y8ccsogw0oskwo0cwwcc08o8-184144164171
      - coolify.resourceName=documensu
      - coolify.projectName=geral
      - coolify.serviceName=documensu
      - coolify.environmentName=production
      - coolify.pullRequestId=0
    networks:
      y8ccsogw0oskwo0cwwcc08o8: null
    env_file:
      - .env

  documenso:
    image: 'documenso/documenso:latest'
    depends_on:
      database:
        condition: service_healthy
    environment:
      PORT: '3000'
      NEXTAUTH_SECRET: '${NEXTAUTH_SECRET:?err}'
      NEXT_PRIVATE_ENCRYPTION_KEY: '${NEXT_PRIVATE_ENCRYPTION_KEY:?err}'
      NEXT_PRIVATE_ENCRYPTION_SECONDARY_KEY: '${NEXT_PRIVATE_ENCRYPTION_SECONDARY_KEY:?err}'
      NEXT_PRIVATE_GOOGLE_CLIENT_ID: '${NEXT_PRIVATE_GOOGLE_CLIENT_ID}'
      NEXT_PRIVATE_GOOGLE_CLIENT_SECRET: '${NEXT_PRIVATE_GOOGLE_CLIENT_SECRET}'
      NEXT_PUBLIC_WEBAPP_URL: '${NEXT_PUBLIC_WEBAPP_URL:?err}'
      NEXT_PRIVATE_INTERNAL_WEBAPP_URL: '${NEXT_PRIVATE_INTERNAL_WEBAPP_URL:-http://localhost:3000}'
      NEXT_PRIVATE_DATABASE_URL: '${NEXT_PRIVATE_DATABASE_URL:?err}'
      NEXT_PRIVATE_DIRECT_DATABASE_URL: '${NEXT_PRIVATE_DIRECT_DATABASE_URL}'
      NEXT_PUBLIC_UPLOAD_TRANSPORT: '${NEXT_PUBLIC_UPLOAD_TRANSPORT:-database}'
      NEXT_PRIVATE_UPLOAD_ENDPOINT: '${NEXT_PRIVATE_UPLOAD_ENDPOINT}'
      NEXT_PRIVATE_UPLOAD_FORCE_PATH_STYLE: '${NEXT_PRIVATE_UPLOAD_FORCE_PATH_STYLE}'
      NEXT_PRIVATE_UPLOAD_REGION: '${NEXT_PRIVATE_UPLOAD_REGION}'
      NEXT_PRIVATE_UPLOAD_BUCKET: '${NEXT_PRIVATE_UPLOAD_BUCKET}'
      NEXT_PRIVATE_UPLOAD_ACCESS_KEY_ID: '${NEXT_PRIVATE_UPLOAD_ACCESS_KEY_ID}'
      NEXT_PRIVATE_UPLOAD_SECRET_ACCESS_KEY: '${NEXT_PRIVATE_UPLOAD_SECRET_ACCESS_KEY}'
      NEXT_PRIVATE_SMTP_TRANSPORT: '${NEXT_PRIVATE_SMTP_TRANSPORT:?err}'
      NEXT_PRIVATE_SMTP_HOST: '${NEXT_PRIVATE_SMTP_HOST}'
      NEXT_PRIVATE_SMTP_PORT: '${NEXT_PRIVATE_SMTP_PORT}'
      NEXT_PRIVATE_SMTP_USERNAME: '${NEXT_PRIVATE_SMTP_USERNAME}'
      NEXT_PRIVATE_SMTP_PASSWORD: '${NEXT_PRIVATE_SMTP_PASSWORD}'
      NEXT_PRIVATE_SMTP_APIKEY_USER: '${NEXT_PRIVATE_SMTP_APIKEY_USER}'
      NEXT_PRIVATE_SMTP_APIKEY: '${NEXT_PRIVATE_SMTP_APIKEY}'
      NEXT_PRIVATE_SMTP_SECURE: '${NEXT_PRIVATE_SMTP_SECURE}'
      NEXT_PRIVATE_SMTP_UNSAFE_IGNORE_TLS: '${NEXT_PRIVATE_SMTP_UNSAFE_IGNORE_TLS}'
      NEXT_PRIVATE_SMTP_FROM_NAME: '${NEXT_PRIVATE_SMTP_FROM_NAME:?err}'
      NEXT_PRIVATE_SMTP_FROM_ADDRESS: '${NEXT_PRIVATE_SMTP_FROM_ADDRESS:?err}'
      NEXT_PRIVATE_SMTP_SERVICE: '${NEXT_PRIVATE_SMTP_SERVICE}'
      NEXT_PRIVATE_RESEND_API_KEY: '${NEXT_PRIVATE_RESEND_API_KEY}'
      NEXT_PRIVATE_MAILCHANNELS_API_KEY: '${NEXT_PRIVATE_MAILCHANNELS_API_KEY}'
      NEXT_PRIVATE_MAILCHANNELS_ENDPOINT: '${NEXT_PRIVATE_MAILCHANNELS_ENDPOINT}'
      NEXT_PRIVATE_MAILCHANNELS_DKIM_DOMAIN: '${NEXT_PRIVATE_MAILCHANNELS_DKIM_DOMAIN}'
      NEXT_PRIVATE_MAILCHANNELS_DKIM_SELECTOR: '${NEXT_PRIVATE_MAILCHANNELS_DKIM_SELECTOR}'
      NEXT_PRIVATE_MAILCHANNELS_DKIM_PRIVATE_KEY: '${NEXT_PRIVATE_MAILCHANNELS_DKIM_PRIVATE_KEY}'
      NEXT_PUBLIC_DOCUMENT_SIZE_UPLOAD_LIMIT: '${NEXT_PUBLIC_DOCUMENT_SIZE_UPLOAD_LIMIT}'
      NEXT_PUBLIC_POSTHOG_KEY: '${NEXT_PUBLIC_POSTHOG_KEY}'
      NEXT_PUBLIC_DISABLE_SIGNUP: '${NEXT_PUBLIC_DISABLE_SIGNUP}'
      NEXT_PRIVATE_SIGNING_LOCAL_FILE_PATH: '${NEXT_PRIVATE_SIGNING_LOCAL_FILE_PATH:-/opt/documenso/cert.p12}'
      NEXT_PRIVATE_SIGNING_PASSPHRASE: '${NEXT_PRIVATE_SIGNING_PASSPHRASE}'
      NEXT_PUBLIC_USE_INTERNAL_URL_BROWSERLESS: '${NEXT_PUBLIC_USE_INTERNAL_URL_BROWSERLESS}'
      COOLIFY_BRANCH: '"main"'
      COOLIFY_RESOURCE_UUID: y8ccsogw0oskwo0cwwcc08o8
      COOLIFY_CONTAINER_NAME: documenso-y8ccsogw0oskwo0cwwcc08o8-184144169641
      SERVICE_NAME_DATABASE: database
      SERVICE_NAME_DOCUMENSO: documenso
    ports:
      - '9000:9000'
    volumes:
      - '/opt/documenso/cert.p12:/opt/documenso/cert.p12:ro'
    container_name: documenso-y8ccsogw0oskwo0cwwcc08o8-184144169641
    restart: unless-stopped
    labels:
      - coolify.managed=true
      - coolify.version=4.0.0-beta.444
      - coolify.applicationId=17
      - coolify.type=application
      - coolify.name=documenso-y8ccsogw0oskwo0cwwcc08o8-184144169641
      - coolify.resourceName=documensu
      - coolify.projectName=geral
      - coolify.serviceName=documensu
      - coolify.environmentName=production
      - coolify.pullRequestId=0
    networks:
      y8ccsogw0oskwo0cwwcc08o8: null
    env_file:
      - .env

volumes:
  y8ccsogw0oskwo0cwwcc08o8_database:
    name: y8ccsogw0oskwo0cwwcc08o8_database

networks:
  y8ccsogw0oskwo0cwwcc08o8:
    name: y8ccsogw0oskwo0cwwcc08o8
    external: true